* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Base Element Styles --- */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
main {
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
    transition: width 1000ms ease;
    width: 85%;
}
h1, p, button {
    margin: 20px auto;
}
h1 {
    font-size: 1.6em;
}
h3 {
    margin: 10px 0;
}
button {
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 3px rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    padding: 8px;
    margin: 8px;
}
a {
    color: black;
    text-decoration: none;
}
li {
    line-height: 30px;
    list-style: none;
    margin: 10px auto;
}

/* --- Header Styles --- */

header {
    display: flex;
    justify-content: space-between;
}
header span {
    margin: 10px;
    padding: 10px;
}
header span a {
    font-weight: bold;
}
#time {
    color: black;
    transition: all 500ms ease-in;
}

/* --- Quiz Page Styles --- */

h3 {
    min-height: 40px;
}
#select-answer-msg {
    font-size: 14px;
    font-style: italic;
    margin: 10px;
}

#green {
    color: green;
    font-size: 13px;
}
#red {
    color: red;
    font-size: 13px;
}
#enter-initials-msg {
    font-size: 14px;
    font-style: italic;
}
#initials-input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    margin: 5px;
    width: 80px;
}

/* --- Highscores Page Styles --- */

#highscores {
    margin-top: 62px;
}
#highscores ul {
    margin: 20px auto;
}
#highscores div {
    display: flex;
    justify-content: center;
}

/* --- Media Queries --- */

@media (min-width: 568px) {
    h1 {
        font-size: 1.9em;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
    header {
        margin: 20px auto;
        width: 90%;
    }
    main {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    header {
        margin-top: 30px;
        width: 85%;
    }
    main {
        width: 60%;
    }
}